{% extends 'base.html' %}
{% block content %}
    <!-- NAV BAR END -->
    <div class="container">

        <div class="mini_of_part2 container">
            <h1>Attendance</h1>
            <div class="row">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Date</th>
                            <th scope="col">Day</th>
                            <th scope="col">Attendence</th>
                            <th scope="col">Remark</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>01-Jan-2022</td>
                            <td>Monday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>02-Jan-2022</td>
                            <td>Tuesday</td>
                            <td>Absent</td>
                            <td><i class="fa fa-times timesmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>03-Jan-2022</td>
                            <td>Wednesday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>04-Jan-2022</td>
                            <td>Thrusday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>05-Jan-2022</td>
                            <td>Friday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>06-Jan-2022</td>
                            <td>Saturday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>07-Jan-2022</td>
                            <td>Sunday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>


                        <tr>
                            <th scope="row">8</th>
                            <td>01-Jan-2022</td>
                            <td>Monday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>02-Jan-2022</td>
                            <td>Tuesday</td>
                            <td>Absent</td>
                            <td><i class="fa fa-times timesmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>03-Jan-2022</td>
                            <td>Wednesday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>04-Jan-2022</td>
                            <td>Thrusday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>05-Jan-2022</td>
                            <td>Friday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td>06-Jan-2022</td>
                            <td>Saturday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">14</th>
                            <td>07-Jan-2022</td>
                            <td>Sunday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>


                        <tr>
                            <th scope="row">15</th>
                            <td>01-Jan-2022</td>
                            <td>Monday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">16</th>
                            <td>02-Jan-2022</td>
                            <td>Tuesday</td>
                            <td>Absent</td>
                            <td><i class="fa fa-times timesmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">17</th>
                            <td>03-Jan-2022</td>
                            <td>Wednesday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">18</th>
                            <td>04-Jan-2022</td>
                            <td>Thrusday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">19</th>
                            <td>05-Jan-2022</td>
                            <td>Friday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">20</th>
                            <td>06-Jan-2022</td>
                            <td>Saturday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">21</th>
                            <td>07-Jan-2022</td>
                            <td>Sunday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>


                        <tr>
                            <th scope="row">22</th>
                            <td>01-Jan-2022</td>
                            <td>Monday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">23</th>
                            <td>02-Jan-2022</td>
                            <td>Tuesday</td>
                            <td>Absent</td>
                            <td><i class="fa fa-times timesmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">24</th>
                            <td>03-Jan-2022</td>
                            <td>Wednesday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">25</th>
                            <td>04-Jan-2022</td>
                            <td>Thrusday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">26</th>
                            <td>05-Jan-2022</td>
                            <td>Friday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">27</th>
                            <td>06-Jan-2022</td>
                            <td>Saturday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">28</th>
                            <td>07-Jan-2022</td>
                            <td>Sunday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>


                        <tr>
                            <th scope="row">29</th>
                            <td>05-Jan-2022</td>
                            <td>Friday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">30</th>
                            <td>06-Jan-2022</td>
                            <td>Saturday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                        <tr>
                            <th scope="row">31</th>
                            <td>07-Jan-2022</td>
                            <td>Sunday</td>
                            <td>Present</td>
                            <td><i class="fa fa-check cheakmark"></i> </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endblock %}