{% extends "base.html" %}
{% block content %}

<br>
<div class="notice_page container">
	<h4> Fees infomation</h4>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">S.no</th>
					<th scope="col">Type</th>
					<th scope="col">Fees</th>
					<th scope="col">Status</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Academy</td>
					<td>80000 <span> Rs</span></td>
					<td>yes</td>

				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Hostel</td>
					<td>40000 <span> Rs</span> </td>
					<td>yes</td>

				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Mess</td>
					<td>10000 <span> Rs</span> </td>
					<td>yes</td>

				</tr>
			</tbody>
		</table>
	</div>

</div>

<!-- Notice Table End -->

{% endblock %}