{% extends "base.html" %}
{% block content %}

    <!-- Notice Table -->
    <div class="Menu_page container containerformess">
      <h3> <strong>Mess Menu </strong></h3>
      <div class="row">
        <table class="table table-dark">
            <thead>
              <tr>
               <th scope="col" class="timing">Timing</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednessday</th>
                <th scope="col">Thrusday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">7:30 - 9:00 <br> Breakfast</th>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              </tr>
              <tr>
                <th scope="row">12:30 - 2:30 <br> Lunch</th>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              </tr>
              <tr>
               <th scope="row">8:30 - 10:30 <br> Dinner</th>
              <td>Larry</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              <td>chapati, seasonal vegetale, dahi, milk, bhurji & Sweets</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

   <!--  <div class="container">
    <div class="Menu_page">
      <h3> <strong>Mess Menu </strong></h3>
      <div class="row">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col" class="timing">Timing</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednessday</th>
              <th scope="col">Thrusday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
              <th scope="col">Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">7:30 - 9:00 <br> Breakfast</th>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
              <td>Aluparatha & tea</td>
            </tr>
            <tr>
              <th scope="row">12:30 - 2:30 <br> Lunch</th>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
              <td>Dal, rice,chapati, seasonal vegetale & Sweets</td>
            </tr>
            <tr>
              <th scope="row">8:30 - 10:30 <br> Dinner</th>
              <td>Larry</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
              <td>chapati, seasonal vegetale,dahi,milk,bhurji & Sweets</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
     -->
    <!-- Notice Table End -->
{% endblock %}